.cover__subtitle {
    font-style: normal;
    font-weight: normal;
    text-align: center;
    z-index: 5;
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        margin: 16px 16px 0;
        font-size: 14px;
        line-height: 114%;
    }
}

@media screen and (min-width: 768px) {
    .cover__subtitle {
        margin: 32px 204px 0;
        font-size: 18px;
        line-height: 122%;
    }
}

@media screen and (min-width:1024px) {
    .cover__subtitle {
        margin: 32px 332px 0;
    }
}

@media screen and (min-width: 1280px) {
    .cover__subtitle {
        margin: 32px 412px 0;
    }
}
