.place__website {
  align-self: end;
}

@media screen and (max-width: 767px) {
  .place__website {
  display: none;
  }
}

@media screen and (min-width: 768px) {
  .place__website {
    grid-row: 1;
    grid-column: 2;
  }
}
